body{
    margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(black, #120000);
  color: #F2F2F2;
}

.hero h1 {
  font-size: 90px;
  letter-spacing: 10px;
  line-height: 1;
  margin-bottom: 20px;
}

.hero p {
  opacity: 0.7;
  font-size: 18px;
}

.scroll {
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.5;
}

.section {
  height: 100vh;
  padding: 120px;
  background: linear-gradient(black, #120000);
  color: #F2F2F2;
  margin-bottom: 50px;
}

.section h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.container {
    display: flex;
    height: 60vh; /*поменяли*/
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: aqua;
    border-radius: 20px;
    margin: 8px;
    /* justify-self: center; */
}

.description {
    width: 40%;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    padding: 20px;
}

.slider {
    display: flex;
    align-items: center;

    width: 50%;
    height: 100%;

    gap: 15px;

    overflow-x: auto; /* чтобы можно было листать */
    scroll-snap-type: x mandatory; /* плавная фиксация */
    padding-bottom: 10px;
    
    /* justify-self: center; */
}

.slider > div {
    scroll-snap-align: center;
}

.actors {
    height: 100%;
    width: auto; /* фото не сплющиваются */
    max-width: 280px; 
    border-radius: 10px;
    object-fit: cover;
}

.container2_wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin-top: 50px;
    padding: 40px 0;
}
.container2 {
    height: 500px;
    display: flex;
    gap: 30px;
    padding: 50px 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 80%;
    position: relative;
    overflow: visible;
}

.container2_img {
    width: 120%;
    position: relative;
    left: -60px;
    border-radius: 20px;
}

.container2_img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px;
    /*position: relative;*/
    /*left: -60px;*/
}
