.container {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: aqua;
    border-radius: 20px;

    /* justify-self: center; */
}

.description {
    width: 40%;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    padding: 20px;
}

.slider {
    display: flex;
    align-items: center;

    width: 50%;
    height: 100%;

    gap: 15px;

    overflow-x: auto; /* чтобы можно было листать */
    scroll-snap-type: x mandatory; /* плавная фиксация */
    padding-bottom: 10px;
    
    /* justify-self: center; */
}

.slider > div {
    scroll-snap-align: center;
}

.actors {
    height: 100%;
    width: auto; /* фото не сплющиваются */
    max-width: 280px; 
    border-radius: 10px;
    object-fit: cover;
}

.container2_wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin-top: 50px;
    padding: 40px 0;
}
.container2 {
    height: 500px;
    display: flex;
    gap: 30px;
    padding: 50px 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 80%;
    position: relative;
    overflow: visible;
}

.container2_img {
    width: 120%;
    position: relative;
    left: -60px;
    border-radius: 20px;
}

.container2_img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px;
    /*position: relative;*/
    /*left: -60px;*/
}