.container {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    /* justify-self: center; */
}

.description {
    width: 40%;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    padding: 20px;
}

.slider {
    display: flex;
    align-items: center;

    width: 50%;
    height: 100%;

    gap: 15px;

    overflow-x: auto; /* чтобы можно было листать */
    scroll-snap-type: x mandatory; /* плавная фиксация */
    padding-bottom: 10px;
    
    /* justify-self: center; */
}

.slider > div {
    scroll-snap-align: center;
}

.actors {
    height: 100%;
    width: auto; / фото не сплющиваются */
    max-width: 280px; 
    border-radius: 10px;
    object-fit: cover;
}
